<extend name="Layout/layout" />
<block name="meta">
    <meta charset="UTF-8">
</block>
<block name="title"><title>Test</title></block>
<block name="head"><include file="Public:head" /></block>
<block name="header"><include file="Public:header" /></block>
<block name="content">
    <div class="row-fluid">
        <div class="container-fluid logcontent">
            <div class="logbox exambox">
                <form class="form-horizontal logform" method="post" action="index.php?user-__PUBLIC__-login">
                    <fieldset>
                        <legend>用户登录</legend>
                        <div class="logcontrol">
                            <div class="control-group">
                                <label class="control-label" for="inputuser">用户名：</label>
                                <div class="controls">
                                    <input class="input-xlarge" type="text" name="user" id="inputuser" value=""/><span>请输入您的用户名</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputpass">密码：</label>
                                <div class="controls">
                                    <input class="input-xlarge" type="password" name="pass" id="inputpass" value=""/><span>密码长度6位以上，数字、字母或其他字符</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputpass">code：</label>
                                <div class="controls">
                                    <input class="input-xlarge" style="width: 150px;" type="text" name="text"  value=""/>
                                    <img src="__MODULE__/code" onclick="this.src=this.src+'/'" style="width: 115px;height: 35px;border-radius: 4px;"><span>密码长度6位以上，数字、字母或其他字符</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button class="btn btn-info logbtn" type="button">登录</button>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="logbotm"></div>
        </div>
    </div>
</block>
<block name="footer"><include file="Public:footer" /></block>
<block name="script">
</block>