<extend name="Layout/layout" />
<block name="meta"><include file="Public:meta" /></block>
<block name="title"><title>添加试题</title></block>
<block name="head"><include file="Public:head" /></block>
<block name="header"><include file="Public:header" /></block>
<block name="content">
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<div class="accordion" id="accordion-13465">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" href="__CONTROLLER__/questions">试题管理 </a>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" href="__CONTROLLER__/exams">试卷管理 </a>
		</div>
	</div>
</div></div>
		<div class="span10" id="datacontent">
			<ul class="breadcrumb">
				<li><a href="index.php?exam-master">考试模块</a> <span class="divider">/</span></li>
				<li><a href="index.php?exam-master-questions&page=">普通试题管理</a> <span class="divider">/</span></li>
				<li class="active">添加普通试题</li>
			</ul>
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">添加普通试题</a>
				</li>
				<li class="pull-right">
					<a href="__CONTROLLER__/questions">试题列表</a>
				</li>
			</ul>
			<form action="" method="post" class="form-horizontal">
				<fieldset>
				<div class="control-group">
					<label class="control-label">所属银行：</label>
				  	<div class="controls">
						<select name="parentid" id="parentid" class="combox">
							<option>请选择...</option>
							<option value="1">银行</option>
							<option value="2">机构</option>
							<!-- <option value="3">质押</option>
 -->						</select>
					  	<select name="classid" id="classid" class="combox" style="margin-left: 10px;">
						    <!--<option>请选择...</option>-->
							<volist name="list" id="vo">
							    <option value="{$vo.id}">{$vo.classname|htmlspecialchars_decode}</option>
							</volist>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">题型：</label>
				  	<div class="controls">
					  	<select needle="needle" name="tixing" class="combox" id="tixing" >
					  		<option rel="0" value="0">单选题</option>
					  		<!--<option rel="1" value="1">多选题</option>-->
					  		<option rel="2" value="2">判断题</option>
					  		<option rel="3" value="3">问答题</option>
					  		<option rel="4" value="4">填空题</option>
					  	</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">题干：</label>
				  	<div class="controls">
					  	<textarea class="" name="tigan" id="tigan"></textarea>
					  	<span class="help-block">选择题、填空题需要填写的地方以（）代替&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例如：卓屹属于（）公司</span>
					</div>
				</div>
				<div class="control-group dzb3" id="selecttext">
					<label class="control-label">备选项：</label>
				  	<div class="controls">
					  	<textarea class="" name="beixuan" id="beixuan"></textarea>
					  	<span class="help-block">选择题答案录入规则：A.***&nbsp;例如：A.金融&nbsp;&nbsp;&nbsp;&nbsp;判断题答案录入规则：对：***</span>
					</div>
				</div>
				<div class="control-group dzb">
					<label class="control-label">参考答案：</label>
					<div class="controls">
						<div id="answerbox_1" class="answerbox">
						  	<label class="radio inline">
						  		<input type="radio" name="danxuan" value="A">A
						  	</label>
						  	<label class="radio inline">
						  		<input type="radio" name="danxuan" value="B">B
						  	</label>
						  	<label class="radio inline">
						  		<input type="radio" name="danxuan" value="C">C
						  	</label>
						  	<label class="radio inline">
						  		<input type="radio" name="danxuan" value="D">D
						  	</label>
						</div>
						<div id="answerbox_2" style="display:none;" class="answerbox">
						  	<label class="checkbox inline">
						  		<input class="wwl"   type="checkbox" name="duoxuan[]" value="A">A
						  	</label>
						  	<label class="checkbox inline">
						  		<input type="checkbox" name="duoxuan[]" value="B">B
						  	</label>
						  	<label class="checkbox inline">
						  		<input type="checkbox" name="duoxuan[]" value="C">C
						  	</label>
						  	<label class="checkbox inline">
						  		<input type="checkbox" name="duoxuan[]" value="D">D
						  	</label>
						</div>
						<div id="answerbox_3" class="answerbox" style="display:none;">
						  	<label class="radio inline">
						  		<input type="radio" name="panduan" value="A" checked>对
						  	</label>
						  	<label class="radio inline">
						  		<input type="radio" name="panduan" value="B">错
						  	</label>
						</div>
						<div id="answerbox_4" class="answerbox" style="display:none;">
						  	<textarea class="" name="wenda" id="wenda"></textarea>
					  		<span class="help-block">请将问答题的答案填写如下：</span>
						</div>
						<div id="answerbox_5" class="answerbox" style="display:none;">
						  	<input type="text" name="tiankong" value="" />
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">习题解析：</label>
				  	<div class="controls">
				  		<textarea class="" name="jiexi" id="jiexi"></textarea>
					</div>
				</div>
				<div class="control-group">
				  	<div class="controls">
					  	<button class="btn btn-primary" type="button">提交</button>
					  	<input type="hidden" name="page" value=""/>
					  	<input type="hidden" name="insertquestion" value="1"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</block>
<block name="script">
<script>
	$(function () {
		$('#parentid').change(function () {
		    var sel = $('#parentid option:selected').val();
            $.ajax({
                type : 'post',
                url  : '__CONTROLLER__/question_sel',
                dataType : 'json',
                data : {sel: sel},
                success:function (data) {
                    var _html ='';
                    $('#classid').empty();
                    $.each(data,function (i) {
                        var str = '';
                        str = "<option value='"+this.id+"'>"+this.classname+"</option>";
                        _html += str;
                    });
                    $('#classid').append(_html);
                }
            });
        });
    });
</script>
<script>
	$(function(){
		$('#tixing').bind("change",function(){
		for (var i =0; i <5; i++) {
			$('#answerbox_'+i).hide(); //将6个不同的class 利用for循环遍历出来！
		}
			$('.dzb').show();
			$('.dzb2').show();
			$('.dzb3').show();
			if($(this).val() == 0){
				$('#mum').show();
				$('#answerbox_1').show();
				$('#answerbox_5').hide();
			}else if($(this).val() == 2){
				$('.dzb2').hide();
				$('.dzb3').hide();
				$('#num').hide();
				$('#answerbox_3').show();
				$('#answerbox_5').hide();
			}else if($(this).val() == 3){
				$('#num').hide();
				$('.dzb2').hide();
				$('.dzb3').hide();
				$('#answerbox_4').show();
				$('#answerbox_5').hide();
			}else if($(this).val() == 4){
				$('#num').hide();
				$('.dzb2').hide();
				$('.dzb3').hide();
				$('#answerbox_5').show();
			}else{
				alert('请选择正确的习题类型！');
			}
		});			
	});
</script>
<script>
	$(function(){
		$('button').click(function(){
			if($("#tixing").val() == 0){
				var classid = $('#classid').val();
				var tixing = $("#tixing").val();
				var tigan = $('#tigan').val();
				var beixuan = $('#beixuan').val();
				var danxuan;
				$("input[name='danxuan']").each(function(){
					if($(this).prop("checked")){
						danxuan = $(this).val();
					}

				});
				var jiexi = $('#jiexi').val();
				$.ajax({
					type : 'post',
					url  : '',
					dataType : 'json',
					data : {classid: classid,qbtype: tixing,qbname: tigan,qbbeixuan: beixuan,qbdanxuan: danxuan,qbjiexi: jiexi},
					success:function(data){
//						alert(data);
						if(data == 1){
							alert('信息不能为空！');
						}else if(data == 2){
							alert('添加成功！');
						}else{
							alert('添加失败！');
						}
					}
				});
			}else if($("#tixing").val() == 2){
				var classid = $('#classid').val();
				var tixing = $("#tixing").val();
				var tigan = $('#tigan').val();
				var beixuan = $('#beixuan').val();
				var panduan = $("input[name='panduan']").val();
				var jiexi = $('#jiexi').val();
				$.ajax({
					type : 'post',
					url  : '',
					dataType : 'json',
					data : {classid: classid,qbtype: tixing,qbname: tigan,qbbeixuan: beixuan,qbpanduan: panduan,qbjiexi: jiexi},
					success:function(data){
						if(data == 1){
							alert('信息不能为空！');
						}else if(data == 2){
							alert('添加成功！');
						}else{
							alert('添加失败！');
						}
					}
				});
			}else if($("#tixing").val() == 3){
				var classid = $('#classid').val();
				var tixing = $("#tixing").val();
				var tigan = $('#tigan').val();
				var wenda = $('#wenda').val();
				var jiexi = $('#jiexi').val();
				$.ajax({
					type : 'post',
					url  : '',
					dataType : 'json',
					data : {classid: classid,qbtype: tixing,qbname: tigan,qbwenda: wenda,qbjiexi: jiexi},
					success:function(data){
						if(data == 1){
							alert('信息不能为空！');
						}else if(data == 2){
							alert('添加成功！');
						}else{
							alert('添加失败！');
						}
					}
				});
			}else{
				var classid = $('#classid').val();
				var tixing = $("#tixing").val();
				var tigan = $('#tigan').val();
				var tiankong = $("input[name='tiankong']").val();
				var jiexi = $('#jiexi').val();
				$.ajax({
					type : 'post',
					url  : '',
					dataType : 'json',
					data : {classid: classid,qbtype: tixing,qbname: tigan,qbtiankong: tiankong,qbjiexi: jiexi},
					success:function(data){
						if(data == 1){
							alert('信息不能为空！');
						}else if(data == 2){
							alert('添加成功！');
						}else{
							alert('添加失败！');
						}
					}
				});
			}
		});
	});
</script>
<script>
//	$(function(){
//		$('#logout').click(function(){
//			$.ajax({
//				type : 'post',
//				url  : '__MODULE__/Index/logout',
//				dataType : 'json',
//				success:function(data){
////					alert(data);
//					if(data == 1){
//						window.location.href = "__MODULE__/Login/login";
//					}else{
//						alert('系统错误');
//						window.location.href = "javascript:window.opener=null;window.open('','_self');window.close();";
//					}
//				}
//			});
//		});
//	});
</script>

<script type="text/javascript" src="__PUBLIC__/core/styles/js/logout.js"></script>
</block>