<extend name="Layout/layout" />
<block name="meta"><include file="Public:meta" /></block>
<block name="title"><title>试题模块</title></block>
<block name="head"><include file="Public:head" /></block>
<block name="header"><include file="Public:header" /></block>
<block name="content">
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<div class="accordion" id="accordion-13465">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" style="color: #000;" data-parent="#accordion-13465" href="__CONTROLLER__/questions">试题管理 </a>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-parent="#accordion-13465" href="__CONTROLLER__/exams">试卷管理 </a>
		</div>
	</div>
</div></div>
		<div class="span10" id="datacontent">
			<ul class="breadcrumb">
				<li><a href="index.php?exam-master">考试模块</a> <span class="divider">/</span></li>
				<li>试题管理</li>
			</ul>
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">普通试题管理</a>
				</li>
				<li class="dropdown pull-right">
					<a href="__CONTROLLER__/question_add" class="dropdown-toggle" >添加试题</a>
				</li>
			</ul>
			<form action="" method="post">
				<fieldset>
					<table class="table table-hover">
			            <thead>
			                <tr>
			                    <th width="5%"><input type="checkbox" class="checkall" target="delids"/></th>
			                    <th width="5%">ID</th>
						        <th width="10%">试题类型</th>
						        <th width="40%">试题内容</th>
								<th width="20%">所属</th>
						        <th width="10%">录入人</th>
						        <th width="10%">操作</th>
			                </tr>
			            </thead>
			            <tbody  class="nums">
			            	<foreach name="Info" item="vo">
		                    <tr>
								<td><input type="checkbox" class="pldel" name="qbid_{$vo.qbid}" value="{$vo.qbid}"></td>
								<td class="ids">{$vo.qbid}</td>									
								<td>{$vo.qbtype}</td>								
								<td>{$vo.qbname}</td>
								<td>{$vo.classname}</td>
								<td>{$vo.name}</td>
								<td>
									<div class="btn-group">
			                    		<a class="btn" href="__CONTROLLER__/question_alter/id/{$vo.qbid}" title="修改"><em class="icon-edit"></em></a>
										<a class="btn" onclick="del({$vo.qbid})" class="del" ><em class="icon-remove"></em></a>
			                    	</div>
								</td>
					       </tr> 
					       </foreach>
					    </tbody>
			        </table>
			        <div class="control-group">
			            <div class="controls">
				            <button id="dels" class="btn btn-primary" type="button">删除</button>
				        </div>
			        </div>
			        <div class="pagination pagination-right">
			        	<div id="page">{$page}</div>
			        </div>
		        </fieldset>
			</form>
		</div>
	</div>
</div>
</block>
<block name="script">
<script>
	$(function(){
		$('#sousuo').click(function(){
			var user = $("input[name='username']").val();
			var sel = $("select").val();
			$.ajax({
				type : 'post',
				url : '',
				dataType : 'json',
				data : {user: user,type: sel},
				success:function(data){
					if(data == 0){
						alert('可以访问！');
					}else{
						alert('至少选择一项！');
					}
				}
			});
		});
	});
</script>
<script>
	$(function(){
		$('#logout').click(function(){
			$.ajax({
				type : 'post',
				url  : '__MODULE__/Index/logout',
				dataType : 'json',
				success:function(data){
					if(data == 1){
						window.location.href = "__MODULE__/User/login";
					}else{
						alert('系统错误');
						window.location.href = "javascript:window.opener=null;window.open('','_self');window.close();";
					}
				}
			});
		});
	});
</script>
<script>
	/*删除方法*/
	function del(id){
		$.ajax({
			type : 'post',
			url  : '__CONTROLLER__/question_del',
			dataType : 'json',
			data : {id: id},
			success:function(data){
				if(data == 1){
					alert('删除成功！');
					window.location.reload();
				}else{
					alert('删除失败！');
				}
			}
		});
	}
</script>
<script>
	/*批量删除方法*/
	$(function(){
		$('#dels').click(function(){
			if(confirm('确定要删除吗？') == true){
				var arr = [];
				var ids = $(".nums input[type='checkbox']:checked");
				for(var i = 0;i < ids.length;i++){
					arr+=$(ids[i]).val()+",";
				}
				if(arr ==''){
					alert('请至少选择一项！');
				}else{
					arr = arr.substring(0,arr.length-1);
					$.ajax({
						type : 'post',
						url  : '__CONTROLLER__/question_dels',
						dataType : 'json',
						data : {ids: arr},
						success:function(data){
							if(data == 0){
								window. location.reload();
							}else{
								alert('请稍后再试！');
							}
						}
					});
				}
			}else{return false;}				
		});
	});
</script>
</block>