<div class="row-fluid">
    <div class="container-fluid examcontent">
        <div class="exambox" id="datacontent">
            <div class="examform">
                <ul class="breadcrumb">
                    <li>
                        <span class="icon-home"></span>主页
                    </li>
                </ul>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#" data-toggle="tab">考试 学习</a>
                    </li>
                </ul>
                <ul class="thumbnails">
                    <li class="span2">
                        <div class="thumbnail">
                            <img src="__PUBLIC__/core/styles/images/icons/Watches.png"/>
                            <div class="caption">
                                <p class="text-center">
                                    <a class="btn btn-primary" href="__MODULE__/Exam/exam">正式考试</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <img src="__PUBLIC__/core/styles/images/icons/Retina-Ready.png"/>
                            <div class="caption">
                                <p class="text-center">
                                    <a class="btn btn-primary" href="__MODULE__/Exam/scores">成绩单</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <img src="__PUBLIC__/core/styles/images/icons/Book.png"/>
                            <div class="caption">
                                <p class="text-center">
                                    <a class="btn btn-primary" href="__MODULE__/Exam/lesson_index">在线培训</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <img src="__PUBLIC__/core/styles/images/icons/Clipboard.png"/>
                            <div class="caption">
                                <p class="text-center">
                                    <a class="btn btn-primary" href="__MODULE__/Simulate/simulate_index">模拟考试</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>