<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="">模块管理</a></li>
            </ul>
        </div>
        <div class="span10">
            <ul class="breadcrumb">
                <li><a href="__MODULE__/Index/index">全局</a></li>
            </ul>
            <div class="row-fluid">
                <div class="span6">
                </div>
                <div class="span6">
                </div>
            </div>
        </div>
    </div>
</div>