<!–[if lt IE9]>
<script src="__PUBLIC__/core/styles/js/html5.js"></script>
<![endif]–>
<!-- Le styles -->
<link href="__PUBLIC__/core/styles/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="__PUBLIC__/core/styles/css/layoutit.css" rel="stylesheet">
<link href="__PUBLIC__/core/styles/css/plugin.css" rel="stylesheet">
<link href="__PUBLIC__/core/styles/css/datetimepicker.css" rel="stylesheet">
<link href="__PUBLIC__/core/styles/css/page.css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/core/styles/js/jquery.min.js"></script>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="__PUBLIC__/core/styles/js/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLIC__/core/styles/js/jquery-1.9.1.min.js"></script>
<![endif]-->
<script type="text/javascript" src="__PUBLIC__/core/styles/js/jquery-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/core/styles/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/core/styles/js/bootstrap.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/core/styles/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="__PUBLIC__/core/styles/js/swfu/swfupload.js"></script>
<script type="text/javascript" src="__PUBLIC__/core/styles/js/plugin.js"></script>
<script type="text/javascript" src="__PUBLIC__/core/styles/js/logout.js"></script>